amqp==2.3.2
billiard==3.5.0.5
celery==4.2.1
confusable-homoglyphs==3.2.0
Django==2.1.7
django-bootstrap4==0.0.7
django-online-users==0.3
django-registration==3.0
djangorestframework==3.9.0
flake8==3.6.0
jsonfield==2.0.2
kombu==4.2.1
mccabe==0.6.1
psycopg2==2.7.6.1
pycodestyle==2.4.0
pyflakes==2.0.0
pytz==2018.7
vine==1.1.4
