<!--{% load static i18n %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {% block script%}
    {% endblock script %}

    <style type="text/css">

        {% block indexcont %}
        {% endblock indexcont %}

    </style>
</head>
<body>
    <table class="menu">
        <tr><td>
        <ul class="nav justify-content-end">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link">{{ request.user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Signup</a>
          </li>
        {% endif %}
        </ul>
        </td></tr>
    </table>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>