{% extends 'base.html' %}

{% block title %}SeaBattle-Battle!{% endblock %}

{% block indexcont %}
        body {
            background-color: #6698FA;
            }
        .box {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
        .menu{
            background: #BBCDF0;
            width: 100%;
            border-bottom-style: solid;
            }
        td{
            border: 1px solid black;
            height: 25px;
            width: 25px;
            }

{% endblock %}

{% block content %}
    <style type="text/css">
       table1 {
        color: black;
        border-collapse: collapse; /*removing double borders between cells*/
       table2 {
        color: black;
        border-collapse: collapse;
        cursor: pointer;
       }
       td {
        border: 1px solid black;
        height: 25px;
        width: 25px;
       }


    </style>
    <script>
    window.onload = function display(){
                        var cell_id, color;
                        var data = '{{form}}'.replace(/&quot;/g,'"');
                        var result = JSON.parse(data);
                        for (var i=0; i < {{size}}; i++) {
                            for (var j=0; j < {{size}}; j++) {
                                cell_id =i+","+j;
                                color = result[cell_id];
                                document.getElementById(cell_id).style = color;
                            }
                        }
                    }
    </script>
</head>
<body>
here must be two fields in one session
 <p>The field of {{user}}</p>
        <table id="{{user}}_table">
            {% for i in sizeiterator  %}
                <tr>
                    {% for j in sizeiterator %}
                        <td id="{{i}},{{j}}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
       </table>
{% endblock %}