{% extends 'base.html' %}

{% block title %}SeaBattle-Welcome{% endblock %}

{% block indexcont %}
        body {
            background-color: #6698FA;
            }
        .box {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
        .menu{
            background: #BBCDF0;
            width: 100%;
            border-bottom-style: solid;
            }

{% endblock %}

{% block content %}

<table class="box">
    <tr>
        <td align="center" colspan="2">
            <b>Welcome to the sea-battle challenge! </b><br>
            <b>You should be authorized to take part in </b><br>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <form action="/accounts/login" method="get">
                <h3><button style="width:300px;height:50px" class="btn btn-primary btn-lg">Sign in</button></h3>
            </form>
        </td>
        <td>
            <form action="/accounts/signup" method="get">
                <h3><button style="width:300px;height:50px" class="btn btn-primary btn-lg">Sign up</button></h3>
            </form>
        </td>
</tr>
</table>

{% endblock %}