{% extends 'base.html' %}

{% block title %}SeaBattle-Playerlist{% endblock %}

{% block indexcont %}
        body {
            background-color: #6698FA;
            }
        .box {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
        .menu{
            background: #BBCDF0;
            width: 100%;
            border-bottom-style: solid;
            }

{% endblock %}

{% block content %}

<table border="solid">
    <tr>
        <td>
            <h3>New game:</h3>
        </td>
        <td width="50px"></td>
        <td>
            <h3>Available games:</h3>
        </td>
    </tr>
    <tr>
        <td valign="bottom">
            <form action="/game_create/" method="POST">
                {% csrf_token %}
                <p>&nbsp;</p>
                <h5>Choose size and name</h5>
                <h5>for your battlefield (15 max)</h5>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Size:</span>
                    </div>
                    <input
                            type="number"
                            class="form-control"
                            aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm"
                            min="10"
                            max="15"
                            step="1"
                            value="10"
                            name="fld_size"
                            required>
                    <input
                            type="text"
                            name="Name_of_game"
                            value="Name of your game"
                            title="specify the name of your game, if you are going to make more than one game">
                </div>
                <p>&nbsp;</p>
                <p><button class="btn btn-primary btn-lg btn-block">Create game</button></p>
            </form>
        </td>
        <td></td>
        <td valign="bottom">
            <form action="/game_join/" method="POST">
                <table>
                    <tr>
                        <td>
                            <table id="users">
                                {% csrf_token %}
                                <script>
                                    function makeRadioButton(name, value, text) {

                                        var label = document.createElement("label");
                                        var radio = document.createElement("input");
                                        radio.type = "radio";
                                        radio.name = name;
                                        console.log(radio.name);
                                        radio.value = value;

                                        label.appendChild(radio);

                                        label.appendChild(document.createTextNode(text));
                                        return label;
                                      }

                                    function playerview(){

                                        var table = document.getElementById("users");
                                        var incomming_data = "{{online_users}}".replace(/&quot;/g,'"');
                                        var data = JSON.parse(incomming_data);
                                        var i = 0;
                                        var row = table.insertRow(0);
                                        console.log(data);
                                        if (data.length) {
                                            var cell0 = row.insertCell(0);
                                            var cell1 = row.insertCell(1);
                                            var cell2 = row.insertCell(2);
                                            cell0.innerHTML = "Player";
                                            cell1.innerHTML = "Name of Game";
                                            cell2.innerHTML = "Size of Game";
                                        } else {
                                            var cell0 = row.insertCell(0);
                                            cell0.innerHTML = "Nobody has come yet. Try to create instead";
                                        }

                                        while (i < data.length) {

                                            var row = table.insertRow(i+1);

                                            var cell0 = row.insertCell(0);
                                            var cell1 = row.insertCell(1);
                                            var cell2 = row.insertCell(2);
                                            var radio = makeRadioButton("game_id", data[i][1], data[i][0]);
                                            cell0.appendChild(radio);
                                            cell1.innerHTML = data[i][3];
                                            cell2.innerHTML = data[i][2];
                                            i++;
                                        }
                                    }

                                    playerview();
                                </script>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> </p>
                            <p><button class="btn btn-primary btn-lg btn-block">Join game</button></p>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

{% endblock %}