{% extends 'base.html' %}

{% block title %}SeaBattle-Playerlist{% endblock %}

{% block indexcont %}
        body {
            background-color: #6698FA;
            }
        .box {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
        .menu{
            background: #BBCDF0;
            width: 100%;
            border-bottom-style: solid;
            }

{% endblock %}

{% block content %}

<table border="solid">
    <tr>
        <td>
            <h3>New game:</h3>
        </td>
        <td width="50px"></td>
        <td>
            <h3>Available games:</h3>
        </td>
    </tr>
    <tr>
        <td valign="bottom">
            <form action="/game_create/" method="POST">
                {% csrf_token %}
                <p>&nbsp;</p>
                <h5>Choose size</h5>
                <h5>of the battlefield (15 max)</h5>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Size:</span>
                    </div>
                    <input
                            type="number"
                            class="form-control"
                            aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm"
                            min="10"
                            max="15"
                            step="1"
                            value="10"
                            name="fld_size"
                            required>
                </div>
                <p>&nbsp;</p>
                <p><button class="btn btn-primary btn-lg btn-block">Create game</button></p>
            </form>
        </td>
        <td></td>
        <td valign="bottom">
            <form action="/game_join/" method="POST">
                {% csrf_token %}
                {% for player in online_users %}
                <input type="radio" name="opponent_username" value="{{player}}"> <b>{{player}}</b><br>
                {% endfor %}
                <p> </p>
                <p><button class="btn btn-primary btn-lg btn-block">Join game</button></p>
            </form>
        </td>
    </tr>
</table>

{% endblock %}