<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preparing...</title>
    <style type="text/css">
       table {
        color: black;
        border-collapse: collapse; /*removing double borders between cells*/
       }
       th {
        border: 1px solid black;
        cursor: pointer;
        height: 25px;
        width: 25px;
       }
    </style>
    <script>
        function change(element){
            if (element.style.backgroundColor != 'lime') {
                element.style.backgroundColor = 'lime';
            } else {
                element.style.backgroundColor = 'white';
                }
        }
        function collecting(){
            var cell_id, color;
            var result ={};
            for ( var i = 0; i < {{size}}; i++) {
                for (var j = 0; j < {{size}}; j++) {
                    cell_id = i+","+j;
                    if (document.getElementById(cell_id) != null){
                        color = document.getElementById(cell_id).getAttribute("style");
                        result[cell_id] = color;
                    }
                }
            }
            var json_result = JSON.stringify(result);
            var formData = new FormData(document.forms.field);
            formData.append("size", "{{size}}");
            formData.append("opponent_username", "{{opponent}}");
            formData.append("json_place", json_result);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "http://127.0.0.1:8000/game/");
            xmlhttp.send(formData);
            window.location.pathname = '/game/';
        }
    </script>
</head>
<body>
   <p>The field of {{user}}</p>
   <form method="POST" name="field">
       {% csrf_token %}
       <table id="{{user}}_table">
            {% for i in sizeiterator  %}
                <tr>
                    {% for j in sizeiterator %}
                        <th id="{{i}},{{j}}" onclick="change(this)"></th>
                    {% endfor %}
                </tr>
            {% endfor %}
       </table>
       <p><button type="button" onclick="collecting()">Let's go, when ready</button></p>
   </form>
</body>
</html>