{% extends 'base.html' %}

{% block title %}SeaBattle-Login{% endblock %}

{% block indexcont %}
        body {
            background-color: #6698FA;
            }
        .box {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
        .menu{
            background: #BBCDF0;
            width: 100%;
            border-bottom-style: solid;
            }

{% endblock %}

{% block content %}

<table class="box">
    <tr>
        <td>
            <h2>Login</h2>
        </td>
    </tr>
    <tr>
        <td>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </form>
        </td>
    </tr>
</table>

{% endblock %}

# created according to
# https://simpleisbetterthancomplex.com/tutorial/2016/06/27/how-to-use-djangos-built-in-login-system.html