<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preparing...</title>
    <style type="text/css">
       table {
        background: black;
        color: black;
        border-collapse: collapse; /*removing double borders between cells*/
       }
       th {
        background: white;
        cursor: pointer;
        height: 25px;
        width: 25px;
       }
    </style>
    <script language="JavaScript">
        function change(element){
            if (element.style.backgroundColor != 'lime') {
                element.style.backgroundColor = 'lime';
            } else {
                element.style.backgroundColor = 'white';
                }
        }
        var result =[];
        alert("go1");
        function collection(){
            alert("go2");
            var cell_id, color;
            for ( var i = 0; i < size; i++) {
                for (var j = 0; j < size; j++) {
                    if (document.getElementById("{{i}},{{j}}") != null){
                        cell_id = "{{i}},{{j}}";
                        color = document.getElementById("{{i}},{{j}}".getAttribute("style");
                        result = result + [cell_id, color];
                    }
                }
            }
            var json_result = JSON.stringify(result);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "http://127.0.0.1:8000/game/");
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(json_result);
        }
    </script>

    <script language="JavaScript">
        var result =[];
        alert("go1");
        function collection(){
            alert("go2");
            var cell_id, color;
            for ( var i = 0; i < size; i++) {
                for (var j = 0; j < size; j++) {
                    if (document.getElementById("{{i}},{{j}}") != null){
                        cell_id = "{{i}},{{j}}";
                        color = document.getElementById("{{i}},{{j}}".getAttribute("style");
                        result = result + [cell_id, color];
                    }
                }
            }
            var json_result = JSON.stringify(result);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "http://127.0.0.1:8000/game/");
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(json_result);
        }
    </script>
</head>
<body>
   <p>The field of {{user}}</p>
   <button action="/game/" method="POST">
       {% csrf_token %}
       <table id="{{user}}_table" border="1" cellspacing="1">
            {% for i in sizeiterator  %}
                <tr>
                    {% for j in sizeiterator %}
                        <th id="{{i}},{{j}}" onclick="change(this)">

                        </th>
                    {% endfor %}
                </tr>
            {% endfor %}
       </table>
       <button type="button" onclick="collecting()">test json</button>
       <p><button onmousedown="collecting()">Let's go, when ready</button></p>
   </form>
</body>
</html>